services:
  oracle-db:
    image: gvenzl/oracle-xe:21-slim
    container_name: ligapro-oracle
    restart: unless-stopped
    environment:
      ORACLE_PASSWORD: ligapro
      APP_USER: LIGAPRO
      APP_USER_PASSWORD: ligapro
      ORACLE_CHARACTERSET: AL32UTF8
    ports:
      - "1521:1521"
    volumes:
      - oracle-data:/opt/oracle/oradata
      - ./bd/oracle_init.sql:/container-entrypoint-initdb.d/init.sql:ro

  teams-service:
    build:
      context: ./services/teams-service
    container_name: ligapro-teams
    environment:
      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@oracle-db:1521/XEPDB1
      SPRING_DATASOURCE_USERNAME: LIGAPRO
      SPRING_DATASOURCE_PASSWORD: ligapro
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: oracle.jdbc.OracleDriver
    depends_on:
      - oracle-db
    ports:
      - "8181:8081"

  players-service:
    build:
      context: ./services/players-service
    container_name: ligapro-players
    environment:
      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@oracle-db:1521/XEPDB1
      SPRING_DATASOURCE_USERNAME: LIGAPRO
      SPRING_DATASOURCE_PASSWORD: ligapro
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: oracle.jdbc.OracleDriver
    depends_on:
      - oracle-db
    ports:
      - "8182:8082"

  matches-service:
    build:
      context: ./services/matches-service
    container_name: ligapro-matches
    environment:
      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@oracle-db:1521/XEPDB1
      SPRING_DATASOURCE_USERNAME: LIGAPRO
      SPRING_DATASOURCE_PASSWORD: ligapro
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: oracle.jdbc.OracleDriver
    depends_on:
      - oracle-db
    ports:
      - "8183:8083"

volumes:
  oracle-data:

